<div class="box" *ngFor="let calciatore of calciatori">
  <h2>Nome: {{calciatore.nome_completo}}</h2>
  <h3>Squadra: {{calciatore.squadra | uppercase}}</h3>
  <img [src]="calciatore.foto">

  <div>
    <input type="text" placeholder="piede" [(ngModel)]="calciatore.piede">
    {{calciatore.piede}}
  </div>

  <div>
    <input type="text" [(ngModel)]="calciatore.squadra">
  </div>

  <div *ngIf="calciatore.piede == 'destro' || calciatore.piede == 'ambidestro'" class="box destro"> D
  </div>

  <div *ngIf="calciatore.piede == 'sinistro' || calciatore.piede == 'ambidestro'" class="box sinistro">S</div>

  <!-- <pre>
    {{calciatore | json}}
  </pre> -->
</div>