<!-- <ul>
  <li *ngFor="let calciatore of calciatori" class="calciatore"
    [ngClass]="{'selezionato': calciatoreSelezionato == calciatore, 'destro': calciatore.piede == 'destro', 'sinistro': calciatore.piede == 'sinistro'}">
    {{calciatore.nome_completo}}
    <button type="button" (click)="seleziona(calciatore)">Seleziona</button>
  </li>
</ul> -->

<div style="display: flex;">
  <div>
    <div class="form-group mb-3">
      <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true }">
    </div>
    <app-calciatore-preview *ngFor="let c of calciatori;index as i;odd as dispari" [calciatore]="c"
      [delay]="(i + 1) * 1000" [dispari]="dispari" (onCalciatoreSelezionato)="seleziona($event)">
    </app-calciatore-preview>

    <button type="button" (click)="seleziona(undefined)">Svuota</button>
    <button type="button" (click)="infoBottone($event)">Cliccami</button>
  </div>
  <app-calciatore-detail [calciatore]="calciatoreSelezionato"></app-calciatore-detail>
</div>






<!-- <div class="box" *ngFor="let calciatore of calciatori">
  <h2>Nome: {{calciatore.nome_completo}}</h2>

  <h3>Squadra: {{calciatore.squadra | uppercase}}</h3>

  <img [src]="calciatore.foto">

  <div>
    <input type="text" placeholder="piede" [(ngModel)]="calciatore.piede">
    <h1>{{calciatore.piede}}</h1>
  </div>

  <div>
    <input type="text" [(ngModel)]="calciatore.squadra">
  </div>

  <div *ngIf="calciatore.piede == 'destro' || calciatore.piede == 'ambidestro'" class="box piede destro">D</div>

  <div *ngIf="calciatore.piede == 'sinistro' || calciatore.piede == 'ambidestro'" class="box piede sinistro">S</div>

  <pre>
    {{calciatore | json}}
  </pre>
</div> -->